.small { width: 300px;
	height: 200px;
	float: left;
}
.medium { width: 300px;
	height: 400px;
	float: left;
}
.big { width: 300px;
height:600px;
float: left;
}
.first {width: 300px;
	float: left;

}
.second {width: 300px;
	float: left;
	margin-left: 10px;
}
.third {width: 300px;
	float:left;
	margin-left: 10px;
}
